.bg-tape{
    background-color: rgba(230, 83, 47, 0.814);
    height: 25%;
    width: 100%;
    z-index: -1;
}

.bg-thm{
    background-color: rgba(230, 83, 47, 0.814);
}

.left-menu{
    /* width: 25%; */
    min-width: 10em;
    border-right: 1px solid rgb(217, 217, 217);
}

.chat-window{

}

.window-header{
    height: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.window-body{
    padding: 2rem;
    background-color: rgb(232, 232, 232);
    height: calc(100% - 5rem);
}

.people{
    width: 40%;
}

.people-toggle{
    top: 10;
    left: 10;
    z-index: 10;
}

.people-canvas{
    width: 0;
    visibility: hidden;
    opacity: 0;
    border-right: 1px;
    border-style: solid;
    border-color: rgb(232, 232, 232);
    transition: width 0.5s, visibility 0.5s, opacity 0.5s;
}

.people-canvas-hide{
    transform: scale(0);
    transition: transform 0.5s ease-in;
}

.people-canvas-show{
    width: 40%;
    visibility: visible;
    opacity: 1;
    max-width: 20rem;
    border-right: 1px;
    border-style: solid;
    border-color: rgb(232, 232, 232);
    /* transform: scale(1);
    transition: transform 0.5s ease-in-out; */
    transition: width 0.5s, visibility 0.5s, opacity 0.5s;
}

.conversation{
    width: 100%;
    transition: width 0.5s;
}

.conversation-split{
    width: calc(100% - min(40%, 20rem));
    transition: width 0.5s;
}

.compose-window{
    height: 5rem;
}

.message-box{
    height: calc(100% - 5rem);
}

.message-stack{
}

.messagelet{
    /* max-width: 40rem;
    min-width: 20rem; */
}

.button:focus{
    outline: none;
}

.input:focus{
    outline: none;
}

.text-cut{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.f-90{
    font-size: 90%;
}

.f-80{
    font-size: 80%;
}

.f-75{
    font-size: 75%;
}

.f-70{
    font-size: 70%;
}

.fw-645{
    font-weight: 645;
}

*{
    color: rgb(69, 69, 69);
}

.form-control-custom{
    background-clip: padding-box;
    outline: none;
}

.bg-thm-hover:hover{
    background-color: rgba(230, 83, 47, 0.814);
    color: white;
    border: none;
}

.text-white-hover:hover{
    color: white;
}
